@import "~assets/variables";

::ng-deep .ui-widget-header {
    color: $stoxumRed;
    font-weight: bolder;
}

::ng-deep .item-label {
    font-size: smaller;
}

::ng-deep .item-value {
    font-weight: bolder;
    font-size: smaller;
    height: 25px;
}

::ng-deep .item-header {
    height: 25px;
}

::ng-deep .bold-value {
    font-weight: bolder;
}

.tx_type_color_red {
    background-color: $stoxumRed;
}

.tx_type_color_green {
    background-color: $stoxumGreen;
}

.panel-group-height {
    height: calc(100% - 265px);
}

::ng-deep .color_red {
    color: $stoxumRed;
}

::ng-deep .color_green {
    color: $stoxumGreen;
}