@import "~assets/variables";

$base-height: 60px;

.container {
  display: table;
  width: 100%;
  height: 100%;
}

::ng-deep .home-sidenav {
  display: table-row;
}

::ng-deep .home-sidenav-container {
  height: 100%;
}

::ng-deep p-toolbar .ui-widget-header {
  color: #ffffff;
  font-weight: 300;
  font-size: 0.9em;
  height: $statusBarHeight;
  background: $stoxumBlack;
}

::ng-deep p-toolbar .ui-toolbar-group-left {
  width: 55%;
}

::ng-deep p-toolbar .ui-toolbar-group-right {
  width: 42%;
}

::ng-deep #main_menu .ui-menu {
  background: #000000;
  color: #000;
}

::ng-deep #main_menu .ui-menu .ui-menu-list .ui-menuitem {
  padding-top: 25px;
  padding-bottom: 25px;
}

.mat-list-item {
  color: #000;
}

.sidenav-height {
  height: 100%;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 2px $stoxumRedLighter;
}

.btn {
  padding: 2px;
}

.active_text_color {
  color: #000;
  font-size: smaller;
}

.inactive_text_color {
  color: #661114;
  font-size: smaller;
}

:host input {
  width: 100%;
  padding-left: 5px;
}

.connected-color {
  color: $stoxumGreen;
}

.disconnected-color {
  color: $stoxumRed;
}

.amount-label {
  color: #000;
  font-size: 1em;
}

.amount-value {
  color: $stoxumGreen;
  font-size: 1.2em;
  font-weight: 700;
}

.tx-value {
  color: #000;
  font-weight: 700;
}

.app-nav {
  width: 240px;
  height: 100%;
  background: $stoxumWhite;
  background-image: url("../../../assets/brand/bg-min.png");
  background-position: center;
  background-size: 160%;
  border-right: 3px solid $stoxumGreen;
}

.stm-logo {
  width: 220px;
  padding: 25px;
  text-align: center;
}

.menu-item {
  height: 65px;
  user-select: none;
}

.menu-icon {
  font-size: 2.25em;
}

.menu-text {
  padding-top: 14px;
  font-size: 1.1em;
  cursor: pointer;
}

.menu-balance {
  padding-left: 20px;
}

/*
.menu-nav mat-list-item:hover {
  background-color: $stoxumRedDarker;
  background-repeat: no-repeat;
  background-position: right;
  position: sticky;
  z-index: 1000;
}
*/

.active_menu_item {
  background-image: url("../../../assets/menu-rectangle.png");
  background-repeat: no-repeat;
  background-position: right;
  position: sticky;
  z-index: 1000;
}

.mat-list .mat-list-item {
  height: 65px !important;
}

.mat-list .mat-list-item.import-key {
  height: 30px !important;
}

::ng-deep .mat-list-item-content {
  display: block !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.footer-icon {
  padding-right: 8px;
  margin-top: 3px;
  font-size: 1.25em;
}

::ng-deep .bold-value {
  font-weight: bolder;
}

#wallet-version {
  position: absolute;
  bottom: 10px;
  text-align: center;
  color: #000;
  font-size: smaller;
  width: 100%;
  user-select: none;
}

::ng-deep .footer-error {
  color: $stoxumRed;
  font-weight: bolder;
}

::ng-deep .mat-list-address-item {
  color: $stoxumRed !important;
  font-size: smaller;
}

::ng-deep .mat-list-address {
  flex-grow: 1;
  border: 1px solid $stoxumRed;
  overflow: auto;
  height: 90px;
}
